.btn,
.card,
.round,
.form-control,
.select2-hidden-accessible + .select2-container .select2-selection {
    border-radius: 1em;
    transition: 0.4s;
}

.card,
.round,
.form-control,
.select2-hidden-accessible + .select2-container .select2-selection,
#crudTable {
    border-radius: 1em !important;
    transition: 0.4s;
}

a,
#crudTable_length select {
    transition: 0.4s;
}

a:hover {
    transform: translate(0, -1px);
}

#crudTable_filter input {
    transition: 0.4s;
    margin-bottom: 10px;
}

#crudTable_filter input:hover,
#crudTable_length select:hover {
    transform: translate(0, -1px);
    border-color: #7c69ef;
    filter: drop-shadow(0 12px 24px rgb(104 112 118 / 0.15))
        drop-shadow(0 12px 14px rgb(104 112 118 / 0.1));
}

select:hover,
.select2-hidden-accessible + .select2-container .select2-selection:hover,
textarea:hover,
input:hover,
.card:hover,
.round:hover,
.btn:hover,
#crudTable:hover {
    transform: translate(0, -1px);
    filter: drop-shadow(0 12px 24px rgb(104 112 118 / 0.15))
        drop-shadow(0 12px 14px rgb(104 112 118 / 0.1));
}

.dataTables_paginate ul li.paginate_button.page-item.active a {
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dataTables_paginate ul li.paginate_button.page-item.active a:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.23);
}

.select2-hidden-accessible + .select2-container .select2-selection:hover,
select:hover,
textarea:hover,
input:hover {
    border-color: #7c69ef !important;
}

select:hover {
    cursor: pointer;
}
